{% extends 'base.html' %} {% block content %}
<h2>Inserir Novo Restaurante</h2>
<form method="POST" action="{% url 'restaurants:create' %}">
  {% csrf_token %}
  <p>
    <label for="id_title">Título:</label>
    <input type="text" name="title" id="id_title" />
  </p>
  <p>
    <label for="id_content">Descrição:</label>
    <input type="text" name="content" id="id_content" />
  </p>
  <p>
    <label for="id_poster_url">URL do Poster:</label>
    <input type="url" name="poster_url" id="id_poster_url" />
  </p>
  <button type="submit">Criar</button>
</form>

{% endblock content %}