{% extends 'base.html' %} {% block title %} {{ post.title }} {% endblock title %} {% block content %}
<h2>Detalhes do Restaurante {{ post.title }}</h2>

<section class="dados-de-filme">
  <img src="{{ post.poster_url }}" alt="Foto do Restaurante {{ post.title}}" />
  <ul>
    <li><strong>Nome:</strong> {{ post.title }}</li>
    <hr>
    <li><strong>Descrição:</strong> {{ post.content }}</li>
    <hr>
    <li><strong>Data de Postagem:</strong> {{ post.post_date }}</li>
    <hr>
    {% if post.category_set.all %}
    <li>Incluso nas categorias:
        <p> {% for category in post.category_set.all %}
                <a href="{% url 'restaurants:detail-category' category.id %}">{{ category.name }}</a>
                {% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
    </li>
    <hr>
{% endif %}
    <br>
    <li><a href="{% url 'restaurants:update' post.id %}">Editar</a></li>
    <li><a href="{% url 'restaurants:delete' post.id %}">Apagar</a></li>
  </ul>
  <hr>
</section>

<section>
    <header>
        <h3>Comentários</h3>
    </header>
    <ul>    
        {% if comments %}
            {% for comment in comments %}
                <figure>
                    <blockquote>
                        "{{ comment.text }}"
                    </blockquote>
                    <figcaption>—{{ comment.author }}</figcaption>
                </figure>
            {% endfor %}
        {% else %}
            <p>Ainda não existe nenhum comentário sobre este restaurante.</p>
        {% endif %}
    </ul>
    <hr>

    <a href="{% url 'restaurants:comment' post.pk %}"><button>Crie sua Resenha</button></a>
</section>

{% endblock content %}