{% extends 'base.html' %} {% block title %} {{ post.title }} ({{
post.post_date }} {% endblock title %} {% block content %}
<h2>Detalhes do Restaurante {{ post.title }}</h2>

<section class="dados-de-filme">
  <img src="{{ post.poster_url }}" alt="Foto do Restaurante {{ post.title}}" />
  <ul>
    <li>Nome: {{ post.title }}</li>
    <li>Descrição: {{ post.content }}</li>
    <li>Data de Postagem: {{ post.post_date }}</li>
    <li><a href="{% url 'restaurants:update' post.id %}">Editar</a></li>
    <li><a href="{% url 'restaurants:delete' post.id %}">Apagar</a></li>
  </ul>
</section>

{% endblock content %}