{% extends 'base.html' %} {% block content %}
<h2>Todos os Filmes</h2>
<section>
  <p>
    Muitos resultados? <a href="{% url 'restaurants:search' %}">Buscar Filmes</a>
  </p>
  <p>
    Não encontrou o filme?
    <a href="{% url 'restaurants:create' %}">Adicionar Novo Filme</a>
  </p>
</section>
{% if movie_list %}
<section class="lista-de-cards">
  {% for movie in movie_list %}
  <article class="card">
    <a href="{% url 'restaurants:detail' movie.id %}"> <!-- modifique esta linha -->
        <img src="{{ movie.poster_url }}" alt="Poster do filme {{ movie.title }}" />
    </a>
    <p>{{ movie.title }}</p>
  </article>
  {% endfor %}
</section>
{% else %}
<p>Não foi encontrado nenhum filme.</p>
{% endif %} {% endblock content %}