{% extends 'base.html' %}
{% block content %}
<h2>Atualizar Dados do Restaurante {{ post.title }}</h2>
<form method="post" action="{% url 'restaurants:update' post.id%}">
  {% csrf_token %}
  <p>
    <label for="id_title">Título:</label>
    <input type="text" name="title" id="id_title" value="{{ post.title }}" />
  </p>
  <p>
    <label for=" id_content">Ano de Lançamento:</label>
    <input type="text" name="content" id="id_content" value="{{ post.content }}"/>
  </p>
  <p>
    <label for=" id_poster_url">URL do Poster:</label>
    <input type="url" name="poster_url" id="id_poster_url" value="{{movie.poster_url}}"/>
  </p>
  <button type="submit">Atualizar</button>
</form>
{% endblock content %}